/************** QUESTION SECTION STYLES START ***********/
.question-section {
    background-color: #FFFFFF;
}
.question-section__wrapper{
    padding-top: 150px;
    text-align: center;
}
.question-section__title {
    margin: 0 auto;
    margin-bottom: 36px;
    width: 100%;
    max-width: 522px;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: var(--our-text-color);
}

/************** QUESTION SECTION STYLES END ***********/